  #startMessage {
    width: 600px;
    text-align: center;
    line-height: 300px;
    font-size: 60px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .results {
    border: 1px solid #999;
		padding: 8px;
    width: (200-8)px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .options {
    padding-left: 10px;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .container {
    display: grid;
    grid-template-columns: 300px 300px 10px 200px 150px;
  }
  #video {
    width: 600px;
    border: 1px solid #999;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .canvas {
    cursor: pointer;
    width: 600px;
    z-index: 10;
    /* background-color:rgba(255,0,0,0.5); */
    /* background-color: gray; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .textbox {
    border: 1px solid #999;
    padding: 12;
  }